/******************************************************************************/
/******************************************************************************/
body,html 
{ 
  margin:auto;
  padding:0;
}

.body
{
  border:1px black solid;
/*  background: #828282;   */
}

hr 
{
  height:1px;
  width:100%;
  color:black;
  border:none;
  background:black;
}

.footer 
{
  border-top:1px black solid;
  font-family:monospace;
  font-size:8pt;
  margin:0;
  margin-top:4em;
  padding:0.2em;
  background: #EDB;
}

.header 
{
  border-bottom:1px black solid;
  font-family:monospace;
  font-size:8pt;
  margin:0;
  padding:0.5em;
  background: #EDB;
  height:4em;
}


.content
{ 
  width:44em; margin:auto;
  font-family:"Georgia", sans;
  font: 11pt/1.4 "Lucida Grande";
}

.content pre.code,
.content pre code {
  font-family:"Consolas", monospace;
  font-size:10pt;
  margin:0;padding:0;
  margin-left:2em;  
}



h1, h2, h3, h4, h5, h6 {
        font-family: helvetica, arial, verdana, sans-serif;
        font-weight: normal;
}

.content h1 
{
  border-bottom: 3px #351800 solid;
  /*color:#289E00;*/
  color:#351800;
  font-size:22pt;
  font-size: 218%;  
}

.content h2 
{
	border-bottom: 2px #513000 dotted;
	/*color:#2EB800;*/
	color:#513000;
	font-size:20pt;
	
	font-size: 164%;
}

.content h3 
{
	/*color:#34D100;*/
	color:#FFA51E;
	color:#FF7503;
	font-size:18pt;
	  font-size: 145%;
}

.content h4 
{
	/*color:#34D100;*/
	font-size:14pt;
	font-weight:bolder;
	display:inline;
	font-size: 118%;
}

a:visited 
{ 
  color:#B7CCD00;
}

a:link, a:focus, a:active 
{
  color:navy;
  text-decoration:underline;
}

.simpleText 
{
    font-size:10pt;
    font-family:Monospace;
    white-space:pre;
}

/********************************************************************/
/*********************** hierarchie *********************************/
ul.hierarchie 
{ 
  display:inline;   
  margin: 0.0em; padding: 0;  
}

ul.hierarchie li 
{
   list-style: none;
   display:inline;
   position: relative;
   margin: 0.0em; padding: 0;
}


ul.hierarchie li ul 
{
    margin: 0; padding: 0;
    position: absolute;
    top: 1.5em; left: 0.2em;
    display: none;  /* Unternavigation ausblenden */
    background:#edb;
}

ul.hierarchie li:hover ul 
{
    display: block;  /* Unternavigation in modernen Browsern einblenden */
}

ul.hierarchie li ul li 
{
    float: none;
    display: block;
    background:#edb;
    padding:0.5em;
}


ul.hierarchie a, ul.hierarchie span 
{    
    /*width: 6.4em;  /* Breite den in li enthaltenen Elementen zuweisen */
    padding: 0.2em 1em;
    margin:0.4;
    text-decoration: none;   
    background:#edb;     
}

ul.hierarchie a:hover, ul.hierarchie span
{
  border-color: black;
  background:gray; color:white;
}

/********************************************************************/



/****content******************/
.rbox, .lbox {

  border:black 1px dotted;
  width:19.7em;
  padding:0.5em;
  margin:0.5em;
}


.rbox {float:right;}
.lbox {float:left; }


.lbox:hover, .rbox:hover {
  opacity:0.8;
}

.lbox:first-line , .lbox:first-child {
  font-size:12pt;
  text-decoration:underline;
}		

.fix { 
  min-height: 6em;
}

.clear {
  clear:both;  
}

.bwidth { width:41.8em; }

img {border:0;}

table.borders {
  border:1px solid black; 
  border-collapse:collapse;
}

table.borders td {
  border:1px black solid;
}


table.right td {
  width:3em; text-align:right; border:1px black solid;
}

table.autoindex {
  width:100%;
}

table.autoindex td {
  text-align:left;
  vertical-align:center;
}

.autoindex-description
{
	text-align:right;
	font-size:14pt;
	color:orange;
	border:2px solid grey;
}

tr.odd { background:#edb; }
tr.odd td { background:#edb; }


li.folder {  font-size:12pt;; list-style:url(images/directory.png); font-weight:800; }
li.file   {  font-size:11pt; list-style:url(images/application.png);font-weight:400;}

li.application { list-style: url(images/application.png);}
li.code { list-style: url(images/code.png);}
li.css { list-style: url(images/css.png);}
li.db { list-style: url(images/db.png);}
li.directory { list-style: url(images/directory.png);}
li.doc { list-style: url(images/doc.png);}
li.file { list-style: url(images/file.png);}
li.film { list-style: url(images/film.png);}
li.flash { list-style: url(images/flash.png);}
li.folder_open { list-style: url(images/folder_open.png);}
li.html { list-style: url(images/html.png);}
li.java { list-style: url(images/java.png);}
li.linux { list-style: url(images/linux.png);}
li.music { list-style: url(images/music.png);}
li.pdf { list-style: url(images/pdf.png);}
li.php { list-style: url(images/php.png);}
li.picture { list-style: url(images/picture.png);}
li.ppt { list-style: url(images/ppt.png);}
li.psd { list-style: url(images/psd.png);}
li.ruby { list-style: url(images/ruby.png);}
li.script { list-style: url(images/script.png);}
li.spinner { list-style: url(images/spinner.gif);}
li.txt { list-style: url(images/txt.png);}
li.xls { list-style: url(images/xls.png);}
li.zip { list-style: url(images/zip.png);}



/**** RSS ****/
div.rss {


}

div.rss #logo     { display:none; }


div.rss  .blogtitle {
  border-bottom: 3px #351800 solid;
  /*color:#289E00;*/
  color:#351800;
  font-size:20pt;
  margin-bottom:1.4em;
  margin-top:1em;
}

div.rss .blog { 
    margin:auto; 
    width:70ex; 
}

div.rss .messages  {}

div.rss .message  
{
  margin-bottom:2em;
  border: 1px solid #EDC;
}

div.rss .title {
  font-weight:bold;
  font-size: 14pt;
  background:#CBA;
  border-bottom:2px dotted #dba;
  font-family: "Georgia", sans;
   margin:0;
}

div.rss .desciption 
{	
}

div.rss .comments { font-style:italic; font-size:8pt; }
div.rss .footer   {font-family:monospace; font-size:8pt;}
div.rss div.message > p {margin-top:0;}

.math-indent ,
.math-ident { margin-left:10em};


/*dv-loesungen*/
div#head {
  font-size:smaller
}
div#foot {
  font-size:smaller;
  text-align:right;
}

div:before {
  content:"<a href="index.html">Index</a>";
}
div.question {
  text-indent:20px;
  font-weight:bolder;
}

div.answer {
  margin-left:50px;
  margin-bottom:25px;
}
div.element {
	background:#e9e9e9;
}

div.frage {
	text-indent:20px;
	font-weight:bolder;
}

div.antwort{
	margin-left:50px;
	margin-bottom:25px;
}
div.einheit{
	background:#e9e9e9;
}
