body {
 padding:0px;
 margin:10px;
 font-size:smaller;
 background:#eeffee;
}
 
a[href]:link
{
  color:#467628;
  text-decoration:none;
}

a[href]:active
{
  color:#3E551C;
  text-decoration:underline overline;
}

a[href]:visited {
  color:#AADD50;
  text-decoration:none;
  opacity:0.5;
}

a[href]:hover {
  color:#000;
  text-decoration:underline overline;
}

h1, h2
{
  color:#467628;
}

h1 {
  background:#C5D828;
  text-align:center;
	 
  border:1px solid green;
  font-size:14pt;
  
  font-weight:700;
  margin:0 0 0.1em 0em;
  display:none;
  
}

h2 {
  font-size:12pt;
  font-weight:normal;
  border-bottom:1px #ccc dotted;
  background:#E5F868;
  text-align:center;
  margin:0;
  padding:0;
}


hr {
  background:black;
  color:black;
  height:1px;
  margin:0em;
}

.box { 
  border:1px solid gray;
  margin:0.0em 0.2em 0.2em 0.2em;  white-space:pre-wrap;
  
}
